
html {
    background: repeating-linear-gradient(-45deg,
    transparent,
    transparent 1em,
    rgba(var(--bg-secondary),0.4) 0,
    rgba(var(--bg-secondary),0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba(var(--bg-secondary),0.3) 0,
    rgba(var(--bg-secondary),0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba(var(--bg-primary),0.6) 0,
    rgba(var(--bg-primary),0.2) 2em
  ), repeating-linear-gradient(45deg,
    transparent,
    transparent 1em,
    rgba(var(--bg-secondary),0.4) 0,
    rgba(var(--bg-secondary),0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba(var(--bg-secondary),0.3) 0,
    rgba(var(--bg-secondary),0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba(var(--bg-primary),0.4) 0,
    rgba(var(--bg-primary),0.1) 2em
  ), #FFFF;
  background-blend-mode: multiply;
  height: 100%;
}